<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js列表的展示</title>
</head>
<body>
    <div id="appList">
        <ul>
            <!-- <li v-for="item in movies" >{{item}}</li> -->
            <li v-for="(item,index) in movies">
                {{index}}-{{item}}
            </li>
        </ul>

        <ul>
            <li v-for="item in new_msg" :key="item.name">{{item.name}}</li>
        </ul>
        
    </div>
    <!-- 引入Vue.js -->
    <script src="../js/vue.js"></script>
    <script>
        const appList = new Vue({
            el : "#appList",
            data : {
                message : "hello,Vue",
                movies: ["电影1","电影2","电影3","电影4","电影5","电影6",],
                new_msg:[{name:'张三'},{name:'李四'}]
            }

        })

    </script>
</body>
</html>


