<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue_v-model结合单选框</title>
</head>
<body>
  <!-- 
    复选框分为两种情况:单个勾选框和多个勾选框
    单个勾选框:
      v-model为布尔值
      此时input的value并不影响v-model的值
    多个复选框
      当是多个复选框时,因为可以选中多个,所以对应的data中属性是一个数组
      当选中某一个时,就会将input的value添加到数组中
   -->
  <!--1. checkbox单选框 -->
  <div id="app_model_checkbox">
    <label for="licence">
      <!-- 
        同意协议
        协议:protocol[ˈprəʊtəkɒl] 
        许可证，执照:licence[ˈlaɪsns]
        有Label,可以点文字
      -->
      <input type="checkbox" id="agree" v-model="isAgree">同意协议
    </label>
    <h2>{{isAgree}}</h2>
    <button :disabled="!isAgree">下一步</button>


    <!--2. checkbox多选框 -->
    <br>
    
      <input type="checkbox" value="篮球" v-model="hobbies">篮球
      <input type="checkbox" value="排球" v-model="hobbies">排球
      <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
      <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
      <input type="checkbox" value="足球" v-model="hobbies">足球
    <h2>您的爱好是:{{hobbies}}</h2>
    
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app=new Vue({
      el:"#app_model_checkbox",
      data:{
        isAgree:false,
        hobbies:[],

      },

    })
  </script>
</body>
</html>